body{overflow-x:hidden;}
body,h1,h3,h4,h2,h5,h6,ul,ol,p,fieldset,dd,dl,input,textarea,option,hr,td{margin:0;padding:0;}
h1,h3,h4,h2,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none; color:inherit;}
a,input{outline:none;}
body{font:12px/1em "微软雅黑"; color:#000;}
.clear:after{content:"."; display:block; clear:both;height:0; visibility:hidden;}
.clear{zoom:1;}
.clamp1{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clamp2{
    overflow: hidden;  /** 隐藏超出的内容 **/
    display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
}

.container{width: 1130px; margin: 0 auto;}
.border0{border:none;}

/*头部*/
#header{
    height: 56px;
    background: #ffd100;
}
#header .container{
    width: 1200px;
}
#header .logo{
    float: left;
    height: 56px;
}
#header .logo img{
    display: inline-block;
    vertical-align: middle;
}
#header .logo span{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

#header .header_nav{
    float: left;
    margin-left: 190px;
}
.header_nav li{
    float: left;
    padding: 0 24px;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    color: #282828;
}
.header_nav li.active{
    font-weight: bold;
}
.header_nav li:hover{
    background: #282828;
    color: #ffd100;
}

#header .header_right{
    float: right;
}
.header_right .search,.header_right .login{
    float: left;
}
.header_right .login{
    height: 100%;
    line-height: 56px;
}
.header_right .login .span1{
    padding-right: 20px;
    background: url("../images/login_03.jpg") no-repeat right center;
}
.header_right .login .span2{
    padding-left: 20px;

}
.header_right .search{
    margin-right: 30px;
}
.header_right .search p{
    float: left;
    height: 56px;
    line-height: 56px;
    font-size: 0;
    width: 75px;
    text-align: center;
}
.header_right .search p img{
    vertical-align: middle;
}
.header_right .search p:hover{
    background: #282828;
}

